.headermob
    a(href="#").phonelink 
        img(src="img/phone-icon.png" width="18" height="18")
        |+7 (499) 
        span 200-10-20

    .burger

.header
    .header__top
        .container
            ul.nav.nav_main.nav_top-header
                li.nav__about
                    img(src="img/m-icon-1.png" width="20" height="20")
                    a(href="#") О компании
                li.nav__price
                    img(src="img/m-icon-2.png" width="20" height="20")
                    a(href="#") Цены
                li.nav__master
                    img(src="img/m-icon-3.png" width="20" height="20")
                    a(href="#") Выезд мастера
                li.nav__contact
                    img(src="img/m-icon-4.png" width="20" height="20")
                    a(href="#") Контакты

            .adressinfo ПН-ПТ: с 10 до 19 CБ-ВС: с 10 до 17 Выезд - круглосуточно

            .streetinfo Москва, м. Каширская

    .header__middle
        .container
            .header__column
                .logo
                    .logo__img
                        img(src="img/logo.png" width="36" height="60")
                    ul.logo__article
                        li 
                            |Key
                            span Car
                        li изготовление автоключей

            .header__column
                .header__title Потеряли все ключи от машины? Или нужно сделать дубликат?
                .header__article Выезд в любой район Москвы и области. Изготовление ключей на месте! 
                    span Более 10 000 ключей в наличии.

            .header__column
                a(href="#").phonelink 
                    img(src="img/phone-icon.png" width="26" height="26")
                    |+7 (499) 
                    span 200-10-20

    .header__bottom.container
        ul.nav.nav_service.nav-bottom_header
            li
                img(src="img/nav-1.png" width="30" height="30")
                a(href="#") Изготовление нового ключа
            li
                img(src="img/nav-2.png" width="30" height="30")
                a(href="#") Изготовление чип ключа
            li
                img(src="img/nav-3.png" width="30" height="30")
                a(href="#") Изготовление дубликата ключа
            li
                img(src="img/nav-4.png" width="30" height="30")
                a(href="#") Восстановление комплекта ключей
            li
                img(src="img/nav-5.png" width="30" height="30")
                a(href="#") Восстановление ключа



